/*帮助中心*/
 
img { border:0px;}
.clr {clear:both}
a { color: #1b1b1b; text-decoration: none;}
a:hover { color: #ff0000; text-decoration: none;}

#main,#font { float:none; margin: 0 auto; width: 756px; clear:both; overflow:hidden;}
.left { float:left;} .right { float:right;}

/* 头部&导航 */






#muve_top { float: right; width: 495px; margin: 5px 0px;}
#muve_top li { float:right;}
#muve_top li span { float:left; height: 17px; line-height: 17px; text-align:center;}
#login_button { width: 38px; background:url(../../images/login_button.gif) no-repeat; margin-left: 10px;}
#reg_button { width:60px; background:url(../../images/register_button.gif) no-repeat;}
#muve_nav { float: right; width: 495px; height: 28px; border-bottom: 4px #0197D8 solid; border-left: 1px #0197D8 solid; border-right: 1px #0197D8 solid; border-top: 1px #0197D8 solid;}
#muve_nav li { float:left; width: 61px; height: 28px; background:url(../../images/tagBG.gif) repeat-x; text-align:center; line-height: 28px; font-size:14px; font-weight:bold;}
#muve_nav li.bre { border-right: 1px #0197D8 solid;} 


.g-mlr-a #search { float:none; margin: 0 auto; width: 755px; height: 52px; background:url(../../images/help_nav_bg.gif) no-repeat; margin-bottom: 5px; margin-top: 18px; padding-top: 20px; text-align:center}
#nav { float:none; margin: 0 auto; width: 750px; padding-left: 5px; padding-bottom: 5px; border-bottom: 1px #CCCCCC dashed; margin-bottom: 5px;}
#main { margin-bottom: 10px;}
#main #h_left { float:left; width: 194px; border: 1px #7FB7DC solid; margin-right: 10px;} 
#main #h_left .dafenl { float:left; width: 194px; height: 31px; background:url(../../images/help_left_bg.gif) repeat-x; border-bottom: 1px #7FB7DC solid;}
#main #h_left .ow_bu { float: left; width: 161px; padding: 10px 0px 10px 10px; display:inline;}
#main #h_left .ow_bu dt { float:left; width: 151px; height: 30px; background:url(../../images/ow_bg_q.gif) no-repeat; margin-top: 10px; padding-left: 20px; font: bold 14px/30px Arial, Helvetica, sans-serif;}
#main #h_left .ow_bu dd { float:left; width: 134px; height: 30px; padding-left: 37px; line-height: 30px; color:#003278; background:url(http://www.madegas.com/Templates/blue2/images/ico-3.gif) 27px 11px no-repeat;}
#main #h_right { float:left; width: 550px;}
#main #h_right .help_list { float:left; width: 548px; border: 1px #7FB7DC solid;}
#main #h_right .help_list .title { float:left; width: 548px; height: 30px; background:#EEF5FA;}
#main #h_right .help_list .content { float:left; width: 528px; padding: 10px;}
.fi { padding-left: 10px; font: bold 14px/30px Arial, Helvetica, sans-serif;}
#font { border-top: 4px #0F7CD4 solid; padding-top: 10px;}
#font p { float:none; margin: 0 auto; text-align:center; line-height: 23px;}

